@import "./var";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  direction: rtl;
  box-sizing: border-box;
}

h2 {
  // font-size: 35px;
  font-weight: bold !important;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 20px;
  font-weight: 400;
}

/* Header */
.header {
  text-align: center;
  background-color: $section1;
  box-shadow: 0px 3px 6px #00000029;
  border-top: 3px solid $motag2;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-family: "Satisfy", cursive !important;
  font-size: 25px;
}

.logo img {
  width: 62px;
  height: 62px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  font-size: 25px;
  margin-right: 37px;
  text-decoration: none;
  color: black;
}

.nav-links a:hover,
.nav-links a.active {
  color: $motag2;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  margin-right: 20px;
}

.hamburger div {
  width: 2rem;
  height: 0.25rem;
  background: $motag2;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger.active div:first-child {
  transform: rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(-45deg);
}

/* Hero */
.herosction {
  background-image: url(../images/header-background.png);
  text-align: center;
  background-position: center center;
  background-size: cover;
}

.herocolor {
  background-color: #dc4e6174 ;
  background: $gardisakof;
  padding: 140px 0;
}

.herocolor h1 {
  font-weight: 900;
  font-size: 80px;
  margin: 0;
}

/* Icons tecnolog */
.icons {
  box-shadow: 0px 3px 6px #00000029;
  background-color: $section1;
}

.skills img {
  width: 100px;
  height: 70px;
  padding: 10px;
  object-fit: contain;
}

.div-icon img:hover {
  transform: scale(0.9);
  transition: transform 0.3s ease;
}


/* Gallery */
.gallery {
  background-color: $section1;
}

.imgcard {
  opacity: 0.7;
  border-radius: 30px 0;
}

.imgcard:hover {
  opacity: 1;
}

.cardTecnoWidth {
  width: 70px;
}

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 35px 1px 35px 1px;
  overflow: hidden;
  box-shadow: 3px 3px 15px #00000029;
  border: none !important;
}

.btn-primary1 {
  @include btn-primary1;
}

.btn-primary1:hover {
  @include btn-primary1Hover;
}

.btn-primary1::after {
  @include btn-primary1After;
}

.btn-primary1:hover::after {
  transform: translate(-5px, -50%);
}

.pratim {
  position: relative;
  margin-top: 45px;
}

.formm {
  color: white;
}

/* Contact Us */
.ContactUs {
  background-image: url(../images/Rectangle41.png);
  background-repeat: no-repeat;
  background-color: #3a3a3a;
  background-size: 40%;
  padding: 80px 20px;
}
.formm {
  color: white;
}
// button {
//   border: none;
//   background-color: $motag2;
//   font-size: 25px;
//   padding: 0 47px;
//   border-radius: 25px;
//   transition: opacity 1s, border-radius 5s, background-color 1000ms linear;
// }

button {
  background-color: #f88e43;
  color: white;
  font-size: 20px;
  padding: 10px 47px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
input:focus, textarea:focus {
  outline: none;
  border-bottom-color: #b13c7e;
}

// button:hover {
//   background-color: black;
//   border: 1px solid $motag1;
//   color: $motag2;
// }

form {
  width: 500px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error-message {
  color: #ff4444;
  font-size: 14px;
  margin-top: -0.5px;
  display: block;
}
input.error, textarea.error {
  border-bottom-color: #ff4444;
}
.form-control {
  position: relative;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-bottom: 4px solid $motag2;
  margin-bottom: 20px;
}
textarea {
  min-height: 100px;
  resize: vertical;
}

.iconcontactus {
  background-color: #f88e43b1;
  background: $gradi;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.icon-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
}

.icon-item p {
  font-size: 0.9rem;
  margin-bottom: 0;
  text-align: center;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: $motag2;
  padding: 20px 10px;
  border-bottom: 3px solid $motag2;
}

/* ply center*/
#projects{
  background-color: #ff771640;
}

.project-card {
  /* גודל קבוע לכרטיסייה */
  width: 100%;
  margin-bottom: 1rem;
}

.project-box {
  /* גודל קבוע לקופסת התמונה */
  aspect-ratio: 1 / 1; /* יחס רוחב-גובה קבוע של 1:1 */
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: white;
  border-radius: 30px 0px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}
.project-box:hover {
  transform: translateY(-5px);
}
.project-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* שומר על יחסי התמונה ומכסה את כל השטח */
  border-radius: 4px;
}
.project-title {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #666;
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
  }
  .hamburger {
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #f8f8f8;
    width: 100%;
  }
  .nav-links.active {
    display: flex;
  }
  .nav-links a {
    padding: 10px;
    text-align: right;
    font-size: 18px;
  }

  .icon-item {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 567px) {
  .herosction h1 {
    font-size: 46px;
  }
  p {
    font-size: 15px;
  }
  form {
    width: auto;
  }
  input,
  textarea {
    padding: 0;
    margin-bottom: auto;
  }
  label {
    margin-bottom: auto;
    font-size: 15px;
  }

  .formm button {
    font-size: 20px;
    padding: 0px 28px;
  }
  .cardTecnoWidth {
    width: 54px;
  }
}
